/.env
/.vscode

# Local .env files
*.env
.env
/plk-sync-client/.env

# Logs
logs/
*.log
ofelia_logs/
plk-sync-server/
/docker-cmd

# Database dumps
datacenter_backup.dump
datacenter_backup.remote.dump

# Ignore all .get folders
**/.get/

# Ignore all nested .git folders
**/.git/
