services:
  app:
    build: .
    container_name: plk-sync
    restart: unless-stopped

    env_file:
      - .env
    environment:
      - TZ=Asia/Bangkok
    volumes:
      - .:/app:ro               # โค้ดโปรแกรม (Read-only)
      - ./logs:/app/logs:rw     # เก็บ Log จาก Python (MQTT, cron, error)